<%- include('./partials/header') %>

<h1>Enter New Student</h1>
<form action="/home/new" method="POST">
    <label>First Name:
        <input type="text" name="name">
    </label>
    <label>Last Name:
        <input type="text" name="lastName">
    </label><br>
    <label>Birthdate:
        <input type="date" name="birthdate">
    </label><br>
    <label>Street Address:
        <input type="string" name="streetAddress">
    </label><br>
    <label>City:
        <input type="text" name="city">
    </label><br>
    <label>State:
        <input type="text" name="state">
    </label><br>
    <label>Zip Code:
        <input type="text" name="zipCode">
    </label><br>
    <input type="submit" value="Save">
</form>
    <hr>
<form>
    <h3>Parent/Guardian Info</h3>
    <label>Mom
        <input type="radio" name="name" checked>
    </label>
    <label>Dad
        <input type="radio" name="name" unchecked>
    </label>
    <label>Guardian
        <input type="radio" name="name" unchecked>
    </label><br>
    <label>First Name:
        <input type="text" name="firstName">
    </label>
    <label>Last Name:
        <input type="text" name="lastName">
    </label><br>
    <label>Best Phone Number:
        <input type="tel" name="bestPhoneNumber" placeholder="***-***-****">
    </label><br>
    <label>Other Phone Number:
        <input type="tel" name="otherPhoneNumber" placeholder="***-***-****">
    </label><br>
        <input type="submit" value="Add Another">
        <input type="submit" value="Save">
</form>
    <hr>
<form>
    <h3>Medical Information</h3>
    <label>Allergies:
        <input type="checkbox" name="allergies" unchecked>
    </label><br>
    <label>Allergy Details:
        <textarea name="content"></textarea>
    </label><br>
    
    <input type="submit" value="Save">
</form>